# ignore files created by DrRacket
*.rkt~
compiled/
*.bak

# ignore files by LibreOffice
.~lock.*

# mac stuff
*DS_Store*

# ignore .tm files as they are generated lots from us...
# must force add them to include them in repo:
# git add -f <tm-file-name>
*.tm
